//import
@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Marcellus&family=Martel:wght@400;600;700;900&display=swap");

//vars
$font-heading: "Jacques Francois", serif;
$font-subhead: "Martel", serif;
$font-body: "Marcellus", serif;
$clr-primary: #183152;
$clr-secondary: #244979;
$clr-white-darker: #c4d7ed;
$clr-white: #eef4fb;
$clr-dark: #333333;
$desktop-bp: 1024px;
$tablet-bp: 1023px;
$mobile-bp: 680px; //surface duo also mobile bp
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//global
body {
  .parent {
    display: flex;
    min-height: 100vh; //debug
    //fonts
    h1,
    h2,
    h3,
    p,
    a {
      max-width: 65ch;
    }

    @media (max-width: $mobile-bp) {
      h1,
      h2,
      h3,
      p,
      a {
        max-width: 35ch;
      }
    }
    h1 {
      font-family: $font-heading;
      font-size: 2em;
      margin-bottom: 3.75vh;
    }
    h2 {
      font-family: $font-subhead;
      font-size: 1.25em;
    }
    h3 {
      font-family: $font-subhead;
      font-weight: 800;
      font-size: 1em;
      margin-bottom: 0.8em;
    }
    p {
      font-family: $font-body;
      font-size: 1em;
      line-height: 1.4;
    }
    a {
      cursor: pointer;
      font-family: $font-body;
      font-size: 1em;
    }
    //fonts mobile
    @media (max-width: $mobile-bp) {
      h1 {
        font-size: 1.75em;
        margin-bottom: 3.75vh;
      }
      h2 {
        font-size: 1.31em;
      }
      h3 {
        font-size: 1em;
        margin-bottom: 0.8em;
      }
      p {
        font-size: 1em;
      }
      a {
        font-size: 1em;
      }
    }

    //fonts 1440p
    @media (min-height: 1400px) {
      h1 {
        font-size: 3.25em;
        margin-bottom: 3.75vh;
      }
      h2 {
        font-size: 2em;
      }
      h3 {
        font-size: 1.5em;
        margin-bottom: 0.8em;
      }
      p {
        font-size: 1.5em;
      }
      a {
        font-size: 1.5em;
      }
      i {
        font-size: 1.5em;
      }
    }

    //link
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      p {
        margin: 0;
        margin-left: 0.75vmax;
        border-bottom: 1px solid $clr-white-darker;
        transition: color 0.2s ease-in-out;
      }
    }
    a:hover {
      color: lighten($clr-secondary, 25%);
      cursor: pointer;
      p {
        color: lighten($clr-secondary, 25%);
        border-bottom: 1px solid lighten($clr-secondary, 50%);
      }
    }
    a:nth-of-type(even) {
      margin-left: 1.75vmax;
    }

    .layout-left,
    .layout-right {
      //desktop
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .layout-left {
      align-items: flex-end;
      width: 40vw;
      height: 100vh;
      position: fixed;
      left: 0;
      right: 40vw;
      background: $clr-primary;

      //font color
      h1,
      p,
      a {
        color: $clr-white;
      }
      h2,
      h3 {
        color: $clr-white-darker;
      }
      .margins {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75%;
        width: 70%;
        padding-right: 1.25vmax;
        margin-top: 15vh;
        padding-bottom: 4.25vh;
        // border: 2px solid green; //debug
      }
      //footer
      .margins-bottom {
        width: 100%;
        height: 25%;
        background: $clr-secondary;
        display: flex;
        justify-content: flex-end;
        // border: 2px solid blue; //debug
        div {
          width: 70%;
          margin-top: 0.75vmax;
          justify-content: flex-start;
          footer {
            display: flex;
            flex-direction: column;
            p {
              font-size: 0.69rem;
            }
            a {
              p,
              i {
                font-size: 0.69rem;
                border: 0;
              }
            }
            nav {
              margin-top: -1.25vmax;
              display: flex;
              align-items: center;
            }
            @media (max-width: $tablet-bp) {
              p {
                font-size: 0.63rem;
              }
              a {
                p,
                i {
                  font-size: 0.63rem;
                }
              }
            }
            // 1440p
            @media (min-height: 1400px) {
              p {
                font-size: 1.25rem;
              }
              a {
                p,
                i {
                  font-size: 1.25rem;
                }
              }
            }
          }
        }
      }
      @media (max-width: $tablet-bp) {
        .margins-bottom {
          height: 15%;
        }
      }
    }
    .layout-right {
      align-items: flex-start;
      width: 60vw;
      background: $clr-white;
      margin-left: 40vw;
      //border: 1px solid blue; //debug
      //fonts
      h1 {
        padding-top: 3.25vmax;
      }
      //font color
      h1,
      p,
      a {
        color: $clr-dark;
        h2 {
          color: $clr-secondary;
          border-bottom: 1px solid $clr-secondary;
          transition: color 0.2s ease-in-out;
        }
      }
      a:hover {
        h2 {
          color: lighten($clr-primary, 25%);
        }
      }
      //font color end

      .margins {
        margin: 12.5vh 0;
        //height: 75vh;
        width: 70%;
        max-width: 70%;
        margin-left: 5vmax;
        //border: 5px solid purple; //debug
      }

      ul li {
        line-height: 1.24;
      }
    }

    //tablet layouts
    @media (max-width: $tablet-bp) {
      .layout-left {
        //border: 3px solid cyan; //debug
        .margins {
          width: 90%;
          //border: 2px solid blue; //debug
          h1 {
            font-size: 1.5em;
            margin-bottom: 2.5vh;
          }
          h2 {
            font-size: 1.13em;
          }
          h3 {
            font-size: 1em;
            margin-bottom: 0.4em;
          }
          p {
            font-size: 1em;
            line-height: 1.4;
          }
          a {
            font-size: 1em;
          }
        }
        .margins-bottom {
          // border: 2px solid yellow; //debug
          width: 100%;
          div {
            width: 90%;
            // border: 2px solid orange; //debug
          }
        }
      }
      .layout-right {
        //border: 3px solid green; //debug
        .margins {
          width: 90%;
          //border: 2px solid red; //debug
        }
      }
    }
    //tablet layouts end

    //mobile layouts
    @media (max-width: $mobile-bp) {
      //mobile layout left
      .layout-left {
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        min-height: 100vh;
        max-height: 100vh;
        background: $clr-primary;
        position: relative;
        //border: 1px solid red; //debug
        .margins {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 75%;
          width: 90%;
          //margin-top: 15vh;
          //border: 2px solid green; //debug
        }
        //footer
        .margins-bottom {
          height: 25%;
          background: $clr-secondary;
          display: flex;
          //border: 1px solid purple; //debug
          justify-content: center;
          div {
            width: 90%;
            margin-top: 1.5vmax;
            justify-content: flex-start;
            //border: 1px solid yellow; //debug
            footer {
              display: flex;
              flex-direction: column;
              nav {
                margin-top: -1.5vmax;
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
      //mobile layout left end

      //mobile layout right start
      .layout-right {
        width: 100vw;
        align-items: center;
        justify-content: center;
        margin: 0;
        //border: 1px solid blue; //debug
        .margins {
          margin: 0;
          width: 90%;
          max-width: 90%;
          //border: 2px solid cyan; //debug
          h1 {
            margin-top: 4.25vh;
          }
        }
        // @media (max-width: $mobile-bp) {
        //   .margins {
        //     margin: 4.25vh 0;
        //   }
        // }
      }
      //mobile layout right end
    }
  }
  // @media (max-width: $tablet-bp) {
  //   .parent {
  //     flex-direction: column;
  //   }
  // }
  @media (max-width: $mobile-bp) {
    .parent {
      flex-direction: column;
    }
  }
}

//header
header {
  //logo
  img {
    width: 5rem;
  }
  nav {
    display: flex;
    align-items: center;
  }
}

//portfolio.js

.showcaseMobile,
.showcaseDesktop {
  box-shadow: 5px 4px 14px transparentize($clr-white-darker, 0.5);
  transition: 0.2s box-shadow ease-in-out;
}
.showcaseMobile:hover,
.showcaseDesktop:hover {
  box-shadow: 5px 4px 14px saturate($clr-white-darker, 25%);
}
@media (min-width: $desktop-bp) {
  //on desktop, hide mobile showcase
  .showcaseMobile {
    display: none;
    //border: 1px solid green; //debug
  }
}
@media (max-width: $mobile-bp) {
  //on mobile, hide desktop showcase
  .showcaseDesktop {
    display: none;
  }
}
@media (max-width: $tablet-bp) {
  //on tablet, hide desktop showcase
  .showcaseDesktop {
    display: none;
  }
}

//layout right portfolio start
.item-container {
  display: flex;
  flex-direction: column;
  margin-top: 4.25vmax;
  //border: 1px solid red; //debug
}
@media (max-width: $mobile-bp) {
  .item-container {
    margin-top: 6.25vmax;
  }
}
//layout right portfolio end

//myform.js
form {
  label {
    p {
      margin: 0.5em 0;
    }
  }
  input {
    padding: 0.5em 1.1em;
    margin-bottom: 0.5em;
  }
  input[type="email"] {
    min-width: 65%;
    max-width: 100%;
  }
  @media (max-width: $mobile-bp) {
    input[type="email"] {
      width: 100%;
    }
  }
  @media (max-width: $tablet-bp) {
    input[type="email"] {
      width: 100%;
    }
  }
  textarea {
    min-height: 25vh;
    max-width: 100%;
    resize: vertical;
    border: 0;
    padding: 0.5em 1.1em;
    margin-bottom: 2.5vmax;
    // max-width: fit-content;
  }
  button {
    padding: 0.5em 1.1em;
    background: $clr-secondary;
    color: $clr-white;
    border-style: solid;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    border: 0;
    max-width: fit-content;
  }
  button:hover {
    background: lighten($clr-secondary, 25%);
  }
  input,
  textarea {
    border: 1px solid $clr-white-darker;
    transition: 0.4s box-shadow ease-in-out;
  }
  input:focus,
  textarea:focus {
    box-shadow: 5px 4px 14px saturate($clr-white-darker, 25%);
  }
}

//contact.js
.social-link-container {
  display: flex;
  align-items: center;
  max-width: fit-content;
  margin-right: 1.75vmax;
  border: 1px solid $clr-white-darker;

  a {
    margin: 0;
    padding: 0.5em 1.1em;
    p {
      margin-left: 1.25vmin;
      border: 0;
    }
  }
  .tele-link,
  .ig-link,
  .linkedin-link,
  .github-link {
    transition: 0.2s background ease-in-out;
  }
  .tele-link:hover {
    background: saturate(#2aa1de, 25%);
  }
  .ig-link:hover {
    background: saturate(#d5288d, 25%);
  }
  .linkedin-link:hover {
    background: lighten(#0077b5, 5%);
  }
  .github-link:hover {
    background: saturate(#a349af, 25%);
  }
}

.upperCall,
.lowerCall {
  width: 60%;
  top: 0;
  left: 40vw;
  position: fixed;
}
.upperCallBackgroundImage {
  background-image: url("../images/homepage-image.webp");
  background-size: cover;
  max-width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  left: 40vw;
  position: fixed;
}
.upperCall {
  // border: 1px solid red; //debug
  height: 100vh;
  background-size: cover;
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s ease-in-out;
  button {
    padding: 2.75vmin 3.25vmin;
    background: 0;
    border: 0;
    // background: rgba(0, 0, 0, 0.25);
    background: $clr-secondary;
    color: #fcfcfc;
    font-family: $font-body;
    font-size: 1.1em;
    font-weight: 800;
    //border: #fcfcfc solid 2px;
    outline: #fcfcfc 2px solid;
    outline-offset: 0.8em;
    transition: background 0.2s ease-out;

    // border-radius: 0.8em;
  }
  button:hover {
    cursor: pointer;
    background: lighten($clr-primary, 15%);

    transition: background 0.2s ease-in;
  }
}
.upperCall:hover {
  background: rgba(0, 0, 0, 0.25);
  transition: background 0.2s ease-in-out;
}
//upper call mobile
@media (max-width: $mobile-bp) {
  .upperCall {
    position: absolute;
    display: flex;
    top: 100vh;
    left: 0;
    min-width: 100vw;
    height: 65vh;
    // border: 1px solid red;
  }
  .upperCallBackgroundImage {
    position: absolute;
    top: 100vh;
    left: 0;
    // border: 1px solid green;
    height: 65vh;
  }
}
