@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Marcellus&family=Martel:wght@400;600;700;900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

body .parent h1 {
  font-family: "Jacques Francois", serif;
  font-size: 36px;
  margin-bottom: 3.75vh;
}

body .parent h2 {
  font-family: "Martel", serif;
  font-size: 21px;
}

body .parent h3 {
  font-family: "Martel", serif;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 0.8em;
}

body .parent p {
  font-family: "Marcellus", serif;
  font-size: 18px;
  line-height: 1.4;
}

body .parent a {
  cursor: pointer;
  font-family: "Marcellus", serif;
  font-size: 18px;
}

body .parent a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .parent a p {
  margin: 0;
  margin-left: 0.75vmax;
  border-bottom: 1px solid #c4d7ed;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

body .parent a:hover {
  color: #5186cb;
  cursor: pointer;
}

body .parent a:hover p {
  color: #5186cb;
  border-bottom: 1px solid #b3cbe9;
}

body .parent a:nth-of-type(even) {
  margin-left: 1.75vmax;
}

body .parent .layout-left,
body .parent .layout-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .parent .layout-left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 40vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 40vw;
  background: #183152;
}

body .parent .layout-left h1,
body .parent .layout-left p,
body .parent .layout-left a {
  color: #eef4fb;
}

body .parent .layout-left h2,
body .parent .layout-left h3 {
  color: #c4d7ed;
}

body .parent .layout-left .margins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75%;
  width: 70%;
  padding-right: 1.25vmax;
  margin-top: 15vh;
}

body .parent .layout-left .margins-bottom {
  width: 100%;
  height: 25%;
  background: #244979;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .parent .layout-left .margins-bottom div {
  width: 70%;
  margin-top: 0.75vmax;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .parent .layout-left .margins-bottom div p {
  font-size: 16px;
}

body .parent .layout-left .margins-bottom div footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .parent .layout-left .margins-bottom div footer a p,
body .parent .layout-left .margins-bottom div footer a i {
  font-size: 14px;
  border: 0;
}

body .parent .layout-left .margins-bottom div footer nav {
  margin-top: -0.75vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .parent .layout-right {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60vw;
  background: #eef4fb;
  margin-left: 40vw;
}

body .parent .layout-right h1 {
  padding-top: 3.25vmax;
}

body .parent .layout-right h1,
body .parent .layout-right p,
body .parent .layout-right a {
  color: #333333;
}

body .parent .layout-right h1 h2,
body .parent .layout-right p h2,
body .parent .layout-right a h2 {
  color: #244979;
  border-bottom: 1px solid #244979;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

body .parent .layout-right a:hover h2 {
  color: #356cb5;
}

body .parent .layout-right .margins {
  margin: 12.5vh 0;
  width: 70%;
  max-width: 70%;
  margin-left: 5vmax;
}

body .parent .layout-right ul li {
  line-height: 1.24;
}

@media (max-width: 1023px) {
  body .parent .layout-left .margins {
    width: 90%;
  }
  body .parent .layout-left .margins-bottom {
    width: 100%;
  }
  body .parent .layout-left .margins-bottom div {
    width: 90%;
  }
  body .parent .layout-right .margins {
    width: 90%;
  }
}

@media (max-width: 480px) {
  body .parent .layout-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    background: #183152;
    position: relative;
  }
  body .parent .layout-left .margins {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 75%;
    width: 90%;
  }
  body .parent .layout-left .margins-bottom {
    height: 25%;
    background: #244979;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .parent .layout-left .margins-bottom div {
    width: 90%;
    margin-top: 1.5vmax;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .parent .layout-left .margins-bottom div footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .parent .layout-left .margins-bottom div footer nav {
    margin-top: -1.5vmax;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .parent .layout-right {
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  body .parent .layout-right .margins {
    margin: 0;
    width: 90%;
    max-width: 90%;
  }
}

@media (max-width: 480px) and (max-width: 480px) {
  body .parent .layout-right .margins {
    margin: 4.25vh 0;
  }
}

@media (max-width: 480px) {
  body .parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header img {
  width: 5rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcaseMobile,
.showcaseDesktop {
  -webkit-box-shadow: 5px 4px 14px rgba(196, 215, 237, 0.5);
          box-shadow: 5px 4px 14px rgba(196, 215, 237, 0.5);
  -webkit-transition: 0.2s -webkit-box-shadow ease-in-out;
  transition: 0.2s -webkit-box-shadow ease-in-out;
  transition: 0.2s box-shadow ease-in-out;
  transition: 0.2s box-shadow ease-in-out, 0.2s -webkit-box-shadow ease-in-out;
}

.showcaseMobile:hover,
.showcaseDesktop:hover {
  -webkit-box-shadow: 5px 4px 14px #bad6f7;
          box-shadow: 5px 4px 14px #bad6f7;
}

@media (min-width: 1024px) {
  .showcaseMobile {
    display: none;
  }
}

@media (max-width: 480px) {
  .showcaseDesktop {
    display: none;
  }
}

@media (max-width: 1023px) {
  .showcaseDesktop {
    display: none;
  }
}

.item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4.25vmax;
}

@media (max-width: 480px) {
  .item-container {
    margin-top: 6.25vmax;
  }
}

form label p {
  margin: 0.5em 0;
}

form input {
  padding: 0.5em 1.1em;
  margin-bottom: 0.5em;
}

form input[type="email"] {
  min-width: 65%;
  max-width: 100%;
}

@media (max-width: 480px) {
  form input[type="email"] {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  form input[type="email"] {
    width: 100%;
  }
}

form textarea {
  min-height: 25vh;
  max-width: 100%;
  resize: vertical;
  border: 0;
  padding: 0.5em 1.1em;
  margin-bottom: 2.5vmax;
}

form button {
  padding: 0.5em 1.1em;
  background: #244979;
  color: #eef4fb;
  border-style: solid;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  border: 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

form button:hover {
  background: #5186cb;
}

form input,
form textarea {
  border: 1px solid #c4d7ed;
  -webkit-transition: 0.4s -webkit-box-shadow ease-in-out;
  transition: 0.4s -webkit-box-shadow ease-in-out;
  transition: 0.4s box-shadow ease-in-out;
  transition: 0.4s box-shadow ease-in-out, 0.4s -webkit-box-shadow ease-in-out;
}

form input:focus,
form textarea:focus {
  -webkit-box-shadow: 5px 4px 14px #bad6f7;
          box-shadow: 5px 4px 14px #bad6f7;
}

.social-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-bottom: 1.25vmax;
  margin-right: 1.75vmax;
  border: 1px solid #c4d7ed;
}

.social-link-container a {
  margin: 0;
  padding: 0.5em 1.1em;
}

.social-link-container a p {
  margin-left: 1.25vmin;
  border: 0;
}

.social-link-container .tele-link,
.social-link-container .ig-link {
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}

.social-link-container .tele-link:hover {
  background: #0babfd;
}

.social-link-container .ig-link:hover {
  background: #f50892;
}
/*# sourceMappingURL=styles.css.map */